
#ferriswheel{
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-areas: ". ferriswheel .";

    @include md{
        grid-template-columns: auto 80% auto;   
    }

    @include lg{
        grid-template-columns: auto 50% auto;
    }

    >div{
        grid-area: ferriswheel;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; 
      
        
        svg{
            
        }
    }




    
}



